<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <h1>Davian Wright</h1>
    <p>I'm a student at the UWI persuing a major in the field of information technology. I'm an avid Taylor Swift fan and I love playing Basketball and volleyball. I'm liking this course thus far and should I prove to have some talent in this area (i.e.Web
        Developement) I believe it would be a fun career path </p>
</body>

</html>